DB_HOST=mysql-3412e047-austinibe15-3bdd.f.aivencloud.com
DB_PORT=18543
DB_NAME=portfolio_db
DB_USER=avnadmin
DB_PASSWORD=

DB_CA_CERT=<base64-encoded-aiven-ca-certificate>

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx

CONTACT_EMAIL=austinibe15@gmail.com
EMAIL_FROM=
